<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Voyages Méditerranée></title>
    <link href="<%= url("/css/style.css")%>" rel="stylesheet" type="text/css" />
    <script src="<%= url("/js/main.js")%>" type="text/javascript" > </script>
  </head>
  <body>
    <header class="header">
      <h1> Voyages Mediterranee </h1>
      <nav>
        <ul class="menu">
        <li><a href="http://www.fr.lastminute.com/sejour/">Bons plans été 2016</a></li>
        <li><a href="http://www.voyages-sncf.com/">Plongée sous marine</a></li>
        <li><a href="http://www.corsica-aventure.com/">Randonnée GR 20</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <div class="photo">
        <img src="https://images.unsplash.com/reserve/unsplash_52ce2b0530dab_1.JPG" alt="Barcelone"/>
        <p>Barcelone</p>
      </div>
      <div class="photo">
        <img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=61282cfeed75871385c84c2a44a8e594" alt="Alexandrie"/>
        <p>Alexandrie</p>
      </div>
      <div class="photo">
        <img src="https://images.unsplash.com/photo-1460186136353-977e9d6085a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=dca4873f59aed93f7e03d929bab13695" alt="Malte"/>
        <p>Malte</p>
       </div>
      <div class="photo">
        <img src="https://images.unsplash.com/photo-1458571037713-913d8b481dc6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ea44e41f0b18d77930e5b15992a5cc15" alt="Bar"/>
        <p>Bar</p>
       </div>
      <div class="photo">
        <img src="https://images.unsplash.com/photo-1452711932549-e7ea7f129399?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=58b1e18ecae2804d6f2df344530bdaf6" alt="Ajaccio"/>
        <p>Ajaccio</p>
       </div>
    </section>
    <section>
        <div class="texte  texte-width-20">
          <h2 class="titre">Lorem </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et neque justo. Aenean turpis duis.</p>
      </div>
      <div class="texte texte-width-40">
          <h2 class="titre">Lorem </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et neque justo. Aenean turpis duis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et neque justo. Aenean turpis duis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et neque justo. Aenean turpis duis.</p>
      </div>
      <div class="texte texte-width-40">
          <h2 class="titre">Lorem </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et neque justo. Aenean turpis duis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et neque justo. Aenean turpis duis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et neque justo. Aenean turpis duis.</p>
      </div>
    </section>

    <section>
      <div class="map google  map-width-100vw">
        <h3> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12621827.85248411!2d14.224551512500003!3d39.43540832058391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1468752765322" width="1000vw" height="500vh" frameborder="0" style="border:0" allowfullscreen></iframe></h3>
      </div>
    </section>
    <footer>
    <footer/>
    <footer></footer>


    </div>
  </body>
</html>
